@model SARSTWebApplication.Models.Resident

<h4>Resident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="residentForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfBirth" class="control-label"></label>
                <input asp-for="dateOfBirth" class="form-control" />
                <span asp-validation-for="dateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label"></label>
                <select asp-for="sex" class="form-control" id="role-dropdown">
                        @foreach (var userType in ViewBag.residentSex)
                        {
                            <option value="@userType.Value">@userType.Text</option>
                        }
                    </select>
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" class="form-control" id="role-dropdown">
                        @foreach (var userType in ViewBag.residentGender)
                        {
                            <option value="@userType.Value">@userType.Text</option>
                        }
                    </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pronouns" class="control-label"></label>
                <select asp-for="pronouns" class="form-control" id="role-dropdown">
                        @foreach (var userType in ViewBag.residentPronouns)
                        {
                            <option value="@userType.Value">@userType.Text</option>
                        }
                    </select>
                <span asp-validation-for="pronouns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distinguishingFeatures" class="control-label"></label>
                <input asp-for="distinguishingFeatures" class="form-control" />
                <span asp-validation-for="distinguishingFeatures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" readonly="readonly"/>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                var formdata = $('#residentForm').serialize();
                $.ajax({
                    url: "/Resident/CreateResident",
                    type: 'Post',
                    data: formdata,
                    success: function (data) {
                        if (data == "Success") {
                            window.location.replace("/Resident/Index");
                        } else {
                            alert(data);
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            });
        });
    </script>
}