@model IEnumerable<SARSTWebApplication.Migrations.Residents>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Residents</h2>
    <a class="btn btn-primary" asp-action="Register">Add New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Features</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resident in ViewBag.Residents)
        {
            <tr>
                <td>@resident.residentId</td>
                <td>@resident.firstName, @resident.lastName</td>
                <td>@resident.distinguishingFeatures</td>
                <td>
                    <a asp-controller="Resident" asp-action="Details" asp-route-id="@resident.residentId">Details</a> |
                   @* <a asp-controller="Resident" asp-action="Edit" asp-route-id="@resident.residentId">Edit</a> |
                    <a asp-controller="Resident" asp-action="Delete" asp-route-id="@resident.residentId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
