@model IEnumerable<SARSTWebApplication.Models.SarstUser>

@{
    ViewData["Title"] = "Registered Users";
}

<h1 class="h2 text-muted">Registered Users</h1>
<div class="table-responsive">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h3>Registered Users</h3>
        </div>
        <div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.changePassword)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.changePassword)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            @Html.ActionLink("Edit", "EditSarstUser", new { userName=item.userName }, new { @class="btn btn-secondary" })
                            </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
       </div>
    </div>
</div>

</div>

