@model IEnumerable<SARSTWebApplication.Migrations.residentstays>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Resident Stays</h2>
    <a class="btn btn-primary" asp-action="Register">Add New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Resident ID</th>
            <th>Stay ID</th>
            <th>Checked In</th>
            <th>Checked Out</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stay in ViewBag.ResidentStays)
        {
            <tr>
                <td>@stay.residentId</td>
                <td>@stay.stayId</td>
                <td>@stay.checkinDateTime</td>
                <td>@stay.checkoutDateTime</td>
                <td>
                    <a asp-controller="ResidentStays" asp-action="Details" asp-route-id="@stay.stayId">Details</a> |
                    <a asp-controller="ResidentStays" asp-action="Edit" asp-route-id="@stay.stayId">Edit</a> |
                    <a asp-controller="ResidentStays" asp-action="Delete" asp-route-id="@stay.stayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

