@model IEnumerable<SARSTWebApplication.Models.Resident>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.residentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pronouns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distinguishingFeatures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action(TempData.Peek("eventType") as string, "EventTracker", new { id=item.residentId })'">
                <td>
                    @Html.DisplayFor(modelItem => item.residentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pronouns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.distinguishingFeatures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            </tr>
        }
    </tbody>
</table>