@model SARSTWebApplication.Models.DisciplinaryEvent

<h4>DisciplinaryEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitDisciplinaryForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="disciplinaryEventId" class="control-label"></label>
                <input asp-for="disciplinaryEventId" class="form-control" />
                <span asp-validation-for="disciplinaryEventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="disciplinaryType" class="control-label"></label>
                <select asp-for="disciplinaryType" class="form-control" id="role-dropdown">
                    @foreach (var disciplinaryType in ViewBag.DisciplinaryTypes)
                    {
                        <option value="@disciplinaryType.Value">@disciplinaryType.Text</option>
                    }
                    </select>
                <span asp-validation-for="disciplinaryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateProvided" class="control-label"></label>
                <input asp-for="dateProvided" class="form-control" />
                <span asp-validation-for="dateProvided" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="residentId" class="control-label"></label>
                <input asp-for="residentId" class="form-control" value="@ViewBag.residentId" />
                <span asp-validation-for="residentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" value="@ViewBag.currentUserName" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stayId" class="control-label"></label>
                <input asp-for="stayId" class="form-control" value="@ViewBag.stayId" />
                <span asp-validation-for="stayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
