@model IEnumerable<SARSTWebApplication.Models.Service>

<p>
    <a asp-action="CreateService">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.serviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
                @if(
                    item.serviceName != "Snack" &&
                    item.serviceName != "Dinner" &&
                    item.serviceName != "LaundryService" &&
                    item.serviceName != "HygieneProduct" &&
                    item.serviceName != "MentalHealth"
                )
                {
                    <td>
                        @Html.ActionLink("Edit", "EditService", new { serviceName=item.serviceName })
                    </td>
                }
                else
                {
                   <td></td> @*Needed to maintain the horizontal rule/underline length*@
                }
                
        </tr>
}
    </tbody>
</table>
