@model IEnumerable<SARSTWebApplication.Models.Service>

@{
    ViewData["Title"] = "Manage Services Offered";
}
<h1 class="display-3">Manage Services Offered</h1>
<p class="lead">Add new or temporary services. Edit existing services. Core services are not editable.</p>
<hr/>
<p>
    <a class="btn btn-primary" asp-action="CreateService">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.serviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
                @if(
                    item.serviceName != "Snacks" &&
                    item.serviceName != "Dinners" &&
                    item.serviceName != "LaundryServices" &&
                    item.serviceName != "HygieneProducts" &&
                    item.serviceName != "MentalHealthServices"
                )
                {
                    <td>
                        @Html.ActionLink("Edit", "EditService", new { serviceName=item.serviceName }, new{@class="btn btn-primary"})
                    </td>
                }
                else
                {
                   <td></td> @*Needed to maintain the horizontal rule/underline length*@
                }
                
        </tr>
}
    </tbody>
</table>
